{% extends "templates/base.html" %}

{%block title%}Infotrack - Envio de comando {% endblock %}
{% block content %}


<div  class="main-form">
<h1><img class="icon" src="/media/img/command.png">Envio de comando</h1>
<hr />
<h2> Erro: O atuador selecionado não existe </h2>
<em>O comando a ser enviado selecionou um atuador inexistente para o tipo de equipamento cadastrado. <a href="{% url command.views.index %}"> Clique aqui para voltar a tela de histórico de comandos. </a></em>

</div>
{% endblock %}
