{% extends "templates/base.html" %}

{% block fullscreen %}
  <div id="dialog" class="window" style="display:none;">
    
  <div id="accordion" style="float:left;height:100%;width:20%;">
    <h3><a href="#">Círculo</a></h3>
      <div>
        <p>Digite um raio e em seguida clique no botão abaixo para traçar o centro no mapa:</p><br/>
        <input type="text" id="radius"></input> metros <br/><br/>
        <p align="center"><span class="table-button" id="circletool" style="cursor:pointer;padding:5px;">Traçar centro</span></p><br><br/>
        <input id="savecircle" type="submit" value="Salvar cerca eletrônica" style="float:right;"></input>
      </div>
    <h3><a href="#">Polígono</a></h3>
      <div>
        <p>Clique no botão abaixo para selecionar os vértices do polígono no mapa:</p><br/>
        <p align="center"><span class="table-button"  id="polygontool" style="cursor:pointer;padding:5px;">Traçar polígono</span></p><br><br/>
        <input id="savepolygon" type="submit" value="Salvar cerca eletrônica" style="float:right;"></input>      </div>
    <h3><a href="#">Rota</a></h3>
      <div>
        <p>Clique no botão abaixo e em seguida selecione uma rua para origem e uma rua para destino</p><br/>
        <p align="center"><span class="table-button"  id="routetool"  style="cursor:pointer;padding:5px;">Selecionar rota</span></p><br/><br/>
        <input id="saveroute" type="submit" value="Salvar cerca eletrônica" style="float:right;"></input>
      </div>
  </div>
  
  <div id="map" style="float:right;height:100%;width:79%"></div>
  </div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="/media/css/multiselect.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/getElementsBySelector.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/media/js/jsi18n.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-timepicker-addon.js"></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


<script type="text/javascript">

$(document).ready(function(){
    if ($('#id_trigger option:selected').attr('class') == 'linearinput'){
        $('.limitclass').show();
    }
    
    $('#id_trigger').change(function(){
        if ($('#id_trigger option:selected').attr('class') == 'linearinput'){
            $('.limitclass').show();
        }else{
            $('.limitclass').hide();
            $('#id_linear_limit').attr("value","")
        }
    });

});


</script> 

{% endblock %}

{% block content %}
<div  class="main-form">
{% block form_title %}
<h1><img class="icon" src="/media/img/equipment.png">Criação de usuário </h1>
<hr />
<h2>Dados de cadastro</h2>
<em>Informe os dados necessários para o cadastro do usuário no sistema.</em>
{% endblock %}
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<table>

    {% for field in form %}
    <tr {% if  field.label = 'Limite' %} class='limitclass' style='display:none;' {% endif %}>
      {% if field.label_tag != '<label for="id_destinataries">Destinataries</label>' and  field.label_tag != '<label for="id_vehicle">Veículo</label>' %}
      <td>
        <div class="form-item">
            <div class="item-left"> 
                  <p>{{ field.label_tag }} {%if field.field.required%} *{%endif%}</p>
                  <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
            </div>
      </td>
      {% endif %}
      {% if field.label_tag == '<label for="id_destinataries">Destinataries</label>' or  field.label_tag == '<label for="id_vehicle">Veículo</label>' %}
      <td colspan="2">
        <div class="item-right">
            <p class="errorlist">{{ field.errors }} </p>
             <p class="field">{{ field }} </p>          
        </div>
        </td>
      </tr>
       </div>
      {% else %}
            <td>
            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
            </td>
            
          </tr>
          {% if field.label_tag == '<label for="id_trigger">Trigger</label>' %}
          
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    </table>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<div align="center" style="margin-top:10px;" id="actions">
  
  
      <input type="Submit" value="Confirmar">
      <a onClick="history.back();">Cancelar</a>
      </form>
      
  </div>
<p class="clear">

</div>
{% endblock %}
