{% extends "templates/base.html" %}

{% block content %}
<div class="main-form">
            <h1>Permissões de Equipamentos</h1>
            <hr />
	            
					{% if vector_html != "" %}
					<h2>Sistemas filhos:</h2>
					<div id="child-wrapper">
					<ul class="childs">
					{% for elem in vector_html %}
					    <li>{{elem.name}}: <a href = "{% url equipments.views.permissions elem.id %}"> Permissões</a>  <a href = "{% url equipments.views.associations elem.id %}">Equipamentos </a></li>
					{% endfor %}
					</ul>
					</div>
					{% else %}
					<em> Este sistema não possui nenhum filho. </em>
					{% endif %}         
				</td>
			</tr>
		</tbody>
	</table>
    <hr/>
    <div align="center" style="margin-top:30px;" id="actions">
        <a href="{% url system.views.create %}">Criar um subsistema </a>
         <a href="{% url system.views.edit request.session.system %}">Editar o seu sistema </a>

    </div>
    
</div>
{% endblock %}
