{% extends "templates/base.html" %}

{%block title%}Infotrack - Equipamentos {% endblock %}

{% block content %}
<div class="main-form">
            <h1>Permissões de Equipamentos</h1>
            <hr />
	            
					{% if vector_html %}
					<h2>Sistemas filhos:</h2>
					
					<div id="child-wrapper">
					<ul class="childs">
					{% for elem in vector_html %}
					    <li>{{elem.name}}: <a href = "{% url equipments.views.permissions elem.id %}"> Permissões</a>  <a href = "{% url equipments.views.associations elem.id %}">Equipamentos </a></li>
					{% endfor %}
					</ul>
					</div>
					{% else %}
					<div style="height:50px"></div>
					<em> Este sistema não possui nenhum filho. </em>
					
					{% endif %}         
				</td>
			</tr>
	
    <div style="height:50px"></div>
    <hr/>
    <div align="center" style="margin-top:30px;" id="actions">

    </div>
    
</div>
{% endblock %}
