
{% extends "templates/base.html" %}



{%block title%}Infotrack - Rastreamento Veicular {% endblock %}

{% block head %}
<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/media/css/ui.jqgrid.css" />

<script src="/media/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="/media/js/jquery.jqGrid.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/media/js/rastreamento.js"></script>
<script type="text/javascript" src="/media/js/gridconfig.js"></script>
<script type="text/javascript" src="/media/js/vehicle_toolbar.js"></script>
<script type="text/javascript" src="/media/js/jquery.tipTip.minified.js"></script>	
<link rel="stylesheet" href="/media/css/tipTip.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/multiselect.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/getElementsBySelector.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/media/js/jsi18n.js"></script>
<script type="text/javascript" src="/media/js/alertcheck.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/i18n/jquery-ui-i18n.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script> 

<script type="text/javascript">
    $(document).ready(function(){
        $('#last-tracking-observation').click(function(){
            $('#last-tracking-observation').fadeOut('fast');
        });
        
        setTimeout(function(){$('#last-tracking-observation').fadeOut('fast');},10000);
    
    });
</script>
  
	<style>
	  #tabs { bottom:0; width:960px;z-index:0;height:100%;}
	</style>
	<style type="text/css"> 
    #id_polygon_map { width: 600px; height: 400px; }
    #id_polygon_map .aligned label { float:inherit; }
    #id_polygon_admin_map { position: relative; vertical-align: top; float: left; }
    #id_polygon { display: none; }
    .olControlEditingToolbar .olControlModifyFeatureItemActive { 
       background-image: url("/static/admin/img/gis/move_vertex_on.png");
       background-repeat: no-repeat;
    }
    .olControlEditingToolbar .olControlModifyFeatureItemInactive { 
       background-image: url("/static/admin/img/gis/move_vertex_off.png");
       background-repeat: no-repeat;
    }
    #last-tracking-observation{
        display:block;
        margin:0 35px 10px 35px;
        padding:0.7em;
        
    }
  </style>

{% endblock %}

{% block content %}
<input type="hidden" id="end"></input>

<div id="tabs" class="tabs-bottom">
	<ul>
		<li id="grid"><a href="#tabs-1">Tabela de veículos</a></li>
		{%if map_google %}<li><a id="googlemap" href="#tabs-3">Ver mapa</a></li>{% endif %}
    <!-- <li><a id="multispectralmap" href="#tabs-4">Multispectral</a></li> -->
    <!-- <li><a class="fullscreen" href="#" onClick="">Maplink</a></li> -->
		<li><a href="#tabs-6" id="configs">Configurações</li></a>
		
		<li class="fullscreen" style="float:right;"><img title="Modo tela cheia" class="fullscreen" src="/media/img/fullscreen.png"></li>
		<li style="float:right;"><img title="Listar veículos" id="maptools" class="vehicle" src="/media/img/vehicle.png"></li>
		<li style="float:right;"><img title="Listar geofences" id="maptools" class="geofence" src="/media/img/geofence.png"></li>
		
	</ul>
	
	
	<div id="tabs-1">
	  <div id="last-tracking-observation" class="ui-state-highlight ui-corner-all"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><strong>Observação:</strong> As informações exibidas são os últimos dados recebidos pelo veículo.<span class="ui-icon ui-icon-close" style="float:right;"></span></div>
	  
	  <div style="padding-bottom:10px;">
	  	Filtrar veículo pela placa: <input type="text">
	  </div>
	  
	  <table id="list4" summary="tabela que mostra dados principais dos veículos e a sua posição"></table>
	  
	  <div id="gridpager"></div>
	</div>
  <div id="tabs-2" style="z-index:-1">
    <table id="list5"></table> 
	</div>
	<div id="tabs-3" style="z-index:-1">
		<div id="tabs-3left" >
		  <table summary="tabela lateral que mostra só a placa dos veículos" id="list"></table> 
		  <table summary="tabela lateral que mostra só o nome das geofences" id="list1"></table>
		</div>
		<div id="tabs-3right"></div>
	</div>
	<div id="tabs-4">
	  </div>
	<div id="tabs-6">
		<div  class="main-form">

<h1><img class="icon" src="/media/img/equip.png">Configurações do Grid </h1>
<hr />
<h2>Visualização de objetos</h2>
<em>Selecione quais campos e veículos devem aparecer no grid. </em>



<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-item">

            <div class="item-right">
                <p class="errorlist">{{ field.errors }} </p>
                 <p class="field">{{ field }} </p>          
            </div>
        </div>
        <hr / >
        {% endfor %}
    </table>

<a href="#" id="saveconf" class="table-button" style="padding:8px;float:right;"> Salvar </a>

<p class="clear">
</form>

</div>
	</div>
</div>



{% endblock %}

{% block dialogMap %}
<div id="dialog" title="Rastreamento Veicular">

</div>
{% endblock %}

{% block fullscreen %}
<div id="sucessdialog" style="display:none;" title="Configurações do Grid">
Configurações do grid salvas com sucesso.
</div>
{% endblock %}
