{% extends "templates/base.html" %}

{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<div id="config">
  <table cellpadding="0">
    <tbody>
      <tr>
        <td colspan="2">
          <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
            <span class="ui-jqgrid-title">Usuários</span>
          </div>
        </td>
      </tr>
      {% for field in form_user %}
        <tr>
        <td>

	    <tr class="ui-widget-content jqgrow ui-row-ltr">  
        <td>          
          <h2>{{ field.label_tag }}</h2>
          <p id="help">{{ field.help_text|wordwrap:"50"|linebreaksbr }} </p>
        </td>
        
        <td>
        <p>{{ field.errors }} </p>
         {{ field }} 
          {% if "Users" in field.label_tag  %} 
            <select id="selecionados" multiple="multiple"></select> <br/> 
            <a id="add" class="jjexample" href="#" style="padding-left: 20px;">add &gt;&gt;</a>
            <a id="remove" class="jjexample" href="#" style="padding-left: 20px;"><< remove</a>  
            
          {% endif %} 
          
          {% if "Equipments" in field.label_tag  %}
           <select id="selecionados2" multiple="multiple"></select> <br/> 
           <a id="add2" class="jjexample" href="#" style="padding-left: 20px;">add &gt;&gt;</a>
           <a id="remove2" class="jjexample" href="#" style="padding-left: 20px;"><< remove</a>
          {% endif%}
          
        </td>
      </tr>
      <tr><td></td> </tr>
      
        {% endfor %}
      
	     
	     {% for field in form_profile %}
	    <tr class="ui-widget-content jqgrow ui-row-ltr">
	      <td>
	        <h2>{{ field.label_tag }}</h2>
	      </td>
	      <td>
	        {{ field }}
	      </td>
	      <tr>
	        {{ field.help_text}}
	       
	      </tr>
      </tr>
        {% endfor %}
      <tr>
        <td colspan="2">
          
        </td>
      </tr>
      </tbody>
		</table>
		<p align="center"><input type="submit" value="Registrar"  /></p>
			
	    
    </form>
</div>
   
{% endblock %}
