{% extends "templates/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" media="screen" href="/media/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/media/css/jquery-ui-1.8.12.custom.css" />
<script src="/media/js/jquery.jqGrid.min.js" type="text/javascript"></script>

<script type="text/javascript">

function confirmBox() {

if (confirm("Deseja apagar os usuários selecionados?")) {

location.href="pagina5.htm";}

}

////////////////// Função para habiliar o POST
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

jQuery(document).ready(function(){

//////////// Função que pega os ids dos usuários selecionados e manda pro ajax deletar
$('#delete').click(function(){
  
  if (confirm("Deseja apagar o(s) usuário(s) selecionado(s)?")) {
  
    var rows = $('#list4').jqGrid('getGridParam', 'selarrrow');
  
    var example = {
      usuarios : []
    };

    var i = 0;
    selected = new Array();
    while(rows[i]) {
      selected[i] =  { "id" : $('#list4').getCell(rows[i],'id') };
      i++;
    }
  
    i = 0;
    while (selected[i]) {
      example.usuarios[i] = selected[i];
      i++;
    }
    
    if (selected.length == 0) { 
        alert('Selecione pelo menos um usuário.'); 
    }
    
    /////// Realiza o POST
    else {
      $.post("{% url accounts.ajax.delete %}",  example,
      function(data) {
        if (data == 'sucesso') {
          alert('Usuário(s) apagado(s) com sucesso.');
          location.href="/accounts/"
        }
        else if (data == 'falhou'){
          alert('Não é possível se apagar.');
        }
      });
    }
  }
  
});  
  
var i = 0;
data = new Array()
var mydata = [
{% for user in users %}
  {id:'{{user.id}}',user : '{{user}}'},
{% endfor  %}
];

cell_id = new Array();
function formateadorLink2(cellvalue, options, rowObject) {
  cell_id[options.rowId] = cellvalue;
  return cellvalue;
}

function formateadorLink(cellvalue, options, rowObject) {
  return "<a href=/accounts/edit/"+ cell_id[options.rowId] + ">" + cellvalue + "</a>";
}

jQuery("#list4").jqGrid({ 
	datatype: "local",
  width: 600,
  height: "auto",
	colNames:[
	'id',
	'Usuários'
	], 
	colModel:[
	{name:'id',sorttype:"text",align:"center",resizable:false, formatter: formateadorLink2,hidden: true},
	{name:'user',id:'id',sorttype:"text",align:"center",resizable:false, formatter: formateadorLink}
	], 
	beforeSelectRow: function(rowid, e) { return true; },
	multiselect: true,
	loadonce: true,
	//altRows: true,
	caption: "Gerenciamento de usuários"

}); 
	
   for(var i=0;i<=mydata.length;i++) {
          jQuery("#list4").jqGrid('addRowData',i+1,mydata[i]); 
       }
		
	   	var mydata = [
   					{id:"1",invdate:"2007-10-01",name:"test"}, 
   					{id:"2",invdate:"2007-10-02",name:"test2"}];
	
  $("#gbox_list4").css("margin", "0 auto");

});

</script>
{% endblock  %}

{% block content %}

{{ message }}

{% block dialog %}

{% endblock %}


{% csrf_token %}

<div id="config">
	<table id="list4"></table> 
	  <div align="center" style="margin-top:10px;" id="actions">
     
            <a href="{% url accounts.views.create_user %}">Criar usuários do seu sistema</a>
          <a id="delete" href="#">Apagar usuários selecionados do seu sistema </a>    
      </div>   
</div>

{% endblock %}
