{% block content %}
{% load url from future %}

<link rel="stylesheet" href="/media/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/master.css" type="text/css" media="screen" />

<div id="login" align="center">
	<img src="/media/img/logo.png">

<form method="post" action=".">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td colspan="2">
      {{ erro }}
    </td>
</tr>
</table>
<form action='.' method='post'>{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  <form action='.' method='post'>
</div>
{% endblock %}
