{% autoescape off %}
Você está recebendo esse email porque requisitou a recuperação de senha da sua conta no Sistema de Rastremanto da Infotrack.

Por favor entre na página abaixo e escolha uma nova senha:
{% block reset_link %}
http://127.0.0.1:8000{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
<!-- http://187.115.25.240:8000/ -->
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}
