{% extends "templates/base.html" %}

{% block head %}
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
<script type="text/javascript">

function my_js_callback(data){
  if(data==Dajaxice.EXCEPTION){
    alert('Error! Something happens!');
  }
  else{
		alert('ae');
		//$("body").css('background-color',data.message);
  }
}


$(document).ready(function(){
	$("#color_site_background").change(function(){
		$("body").css('background-color',$("#color_site_background").css('background-color'));
});
	

});

</script>
{% endblock %}

{% block content %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<div id="form_system">
    <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
    
        {% for field in form_sys %}
	    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
        </div>
        {% endfor %}
	     
	     {% for field in form_sett %}
	    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
        </div>
        {% endfor %}

	    <input type="submit" value="Registrar"/>
    </form>
</div>
   
{% endblock %}
