{% extends "templates/base.html" %}

{% block head %}
<script type="text/javascript" src="http://jscolor.com/jscolor/jscolor.js"></script>
<script type="text/javascript">

function my_js_callback(data){
  if(data==Dajaxice.EXCEPTION){
    alert('Error! Something happens!');
  }
  else{
		alert('ae');
		//$("body").css('background-color',data.message);
  }
}


$(document).ready(function(){
  
  $("#id_users").ready(function() {
    $("#teste").html('ae');
  });
  
	$("#color_site_background").change(function(){
		$("body").css('background-color',$("#color_site_background").css('background-color'));
  });
	

});

</script>
{% endblock %}

{% block content %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<div id="config">
  <table width="100%" cellpadding="0">
    <tbody>
      {% for field in form_sys %}
	    <tr>  
        <td>          
          <h2>{{ field.label_tag }}</h2>
        </td>
        <td>
         {{ field }} {% if "Users" in field.label_tag  %} <a id="add" class="jjexample" href="#">add &gt;&gt;</a> <select multiple="multiple"><option>ae</option></select> {% endif %} {{ field.errors }}
        </td>
      </tr>
        {% endfor %}
      
	     
	     {% for field in form_sett %}
	    <tr>
	      <td>
	        <h2>{{ field.label_tag }}</h2>
	      </td>
	      <td>
	        {{ field }}
	      </td>
      </tr>
        {% endfor %}
      <tr>
        <td colspan="2">
          <p align="center"><input type="submit" value="Registrar" /></p>
        </td>
      </tr>
      </tbody>
		</table>
			
	    
    </form>
</div>
   
{% endblock %}
