{% extends "templates/base.html" %}

{% block content %}
{{ vector }}


{{ message }}

{% if form_sett.errors %}
    <ol>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

<div id="config">
	<table width="100%" cellpadding="0">
		<tbody>
			<tr>
				<td>
					<h1>Sistemas</h1>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Sistemas filhos:</h2>
				</td>
				<td valign="top">

					
				</td>
			</tr>
		</tbody>
	</table>
    
    <ul>
        <li> <a href="{% url system.views.create_system %}">Criar um subsistema </a></li>
        <li> <a href="#">Apagar um subsistema </a></li>
        <li> <a href="#">Editar um subsistema </a></li>
        <li> <a href="#">Ver um subsistema </a> </li>
        <br />
        <li>  <a href="#">Criar usuários do seu sistema</a></li>
        <li>  <a href="#">Apagar usuários do seu sistema </a></li>
        <li>  <a href="#">Editar usuários do seu sistema </a></li>
    </ul>
</div>
{% endblock %}
