{% extends "templates/base.html" %}

{% block content %}



{{ message }}

<div id="config">
	<table width="100%" cellpadding="0">
		<tbody>
			<tr>
				<td>
					<h1>Gerenciamento de sistemas</h1>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Sistemas filhos:</h2>
					
					{{ vector|unordered_list}}

				</td>
				<td valign="top">

					
				</td>
			</tr>
		</tbody>
	</table>
    
    <ul>
        <li> <a href="{% url system.views.create_system %}">Criar um subsistema </a></li>
        <li> <a href="#">Apagar um subsistema </a></li>
        <li> <a href="#">Editar um subsistema </a></li>
        <li> <a href="#">Ver um subsistema </a> </li>
        <br />
        <li>  <a href="{% url accounts.views.create_user %}">Criar usuários do seu sistema</a></li>
        <li>  <a href="#">Apagar usuários do seu sistema </a></li>
        <li>  <a href="#">Editar usuários do seu sistema </a></li>
    </ul>
</div>
{% endblock %}
