{% extends "templates/base.html" %}

{% block title %}
Infotrack - Cercas Eletrônicas
{% endblock %}

{% block head %}
<style type="text/css"> 
  #id_polygon_map { width: 600px; height: 400px; }
  #id_polygon_map .aligned label { float:inherit; }
  #id_polygon_admin_map { position: relative; vertical-align: top; float: left; }
  #id_polygon { display: none; }
  .olControlEditingToolbar .olControlModifyFeatureItemActive { 
     background-image: url("/static/admin/img/gis/move_vertex_on.png");
     background-repeat: no-repeat;
  }
  .olControlEditingToolbar .olControlModifyFeatureItemInactive { 
     background-image: url("/static/admin/img/gis/move_vertex_off.png");
     background-repeat: no-repeat;
  }
</style>
<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>


<script type="text/javascript" src="/media/js/ajaxsend.js"></script>

<script type="text/javascript">

var g;

  jQuery(document).ready(function(){
  	
  	if('{{g}}') {
  		g={};
  		g['id'] = '{{g.id}}'
  		g['name'] = '{{g.name}}'
  	}
  	
  	
  	if('{{g.type}}' == 'R') {
  		jQuery("#geofence-tabs").tabs( { selected: 2 });
  	}
  	else if('{{g.type}}' == 'P') {
  		g['polygon'] = '{{g.polygon}}'
  		jQuery("#geofence-tabs").tabs( { selected: 1 });
  	} 
  	else if('{{g.type}}' == 'C') {
  		g['polygon'] = '{{g.polygon}}'
  		jQuery("#geofence-tabs").tabs( { selected: 0 });
  	}
  	else {
  		jQuery("#geofence-tabs").tabs();
  	}
  	
  });
  
</script>
<script type="text/javascript" src="/media/js/geofence_circle.js"></script>
<script type="text/javascript" src="/media/js/geofence_polygon.js"></script>
<script type="text/javascript" src="http://teste.webservices.apontador.com.br/maplinkapi2/api.ashx?v=4&key=yxd0a03YeKHKN1z4yvdwRxpDaAkFRmLnzJVNa03OPuOFeZONeuO2P0Zuc0HITu9pzYLaT0SxGAkFRDSk"></script> 

{% endblock %}

{% block content %}
<div id="geofence-tabs">
  <ul>
  		<li><a href="#tabs-1">Círculo</a></li>
  		<li><a href="#tabs-2">Polígono</a></li>
  		<li><a href="#tabs-3">Rota</a></li>
  	</ul>
  	<div id="tabs-1" style="overflow:hidden;">
  	  <div class="divsteps" style="margin-bottom:10px;overflow:hidden;">
    		<form id="step1" class="steps">
    		  <fieldset>
            <legend>1º Passo - Escolha um tamanho para o raio</legend>
              <p>Digite abaixo um tamanho para o raio em metros:</p>
               <p align="center"><input type="number" min="0" id="radius" placeholder="Digite um raio" autofocus></input> metros</p>
          </fieldset>
    		</form>
    		<form id="step2circle" class="steps" action="">
    		  <fieldset>
            <legend>2º Passo - Escolha um local para o centro</legend>
            <p>Digite o endereço completo para o centro do círculo:</p>
            <table style="border-spacing:5px">
                <tr>
                    <td>
                        Endereço:
                    </td>
                    <td>
                        <input id="circleaddress" placeholder="Ex.:Rua Anchieta" type="text"/> n.º <input id="circlenumber" placeholder="" type="number" style="width:40px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Cidade:
                    </td>
                    <td>
                         <input id="circlecity" placeholder="Ex.:Campinas" type="text"></input>
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        Estado:
                    </td>
                    <td>
                        <select id="circleselect">
                        <option value="0" selected="selected">&nbsp;</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goias</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                        </select>
                    </td>
                   
                </tr>
            </table>
            
            
            <p align="center"><input id="caddresssubmit" type="submit" value="Buscar endereço" style="padding:4px 12px;" /></p>
          </fieldset>
    		</form>
    		<form id="step3" class="steps">
    		  <fieldset>
            <legend>3º Passo - Salvar cerca eletrônica</legend>
            <p>Após confirmar a visualização da cerca no mapa e sua área, digite um nome para a cerca e clique em salvar:</p>
            <p align="center"><b>Área da cerca eletrônica selecionada:</b></p><div align="center" id="circlearea"></div>
            <p align="center"><input id="circlename" placeholder="Digite um nome para a cerca" type="text" required value="{{g.name}}"></input><input id="circlesave" type="button" value="Salvar" style="padding:4px 12px;"></p>
          </fieldset>
    		</form>
  		</div>
  		<div id="map1" style="float:left;width:100%;height:300px;"></div>
  	</div>
  	<div id="tabs-2" style="overflow:hidden;">
  		<div class="divsteps" style="margin-bottom:10px;overflow:hidden;">
    		<form id="step1" class="steps" style="width:450px">
    		  <fieldset>
            <legend>1º Passo - Escolha os pontos para os vértices do polígono</legend>
              <p>Digite o endereço para os vértices (mínimo 3):</p>
              <div id="polygoninputs" style="overflow: auto; height: 81px;">
                <ol>
                  <li><p align="center"><span>1.</span><input id="polygoninput1" placeholder="Ex.:Rua Anchieta,Campinas" type="text"></input></p>
                  <li><p align="center"><span>2.</span><input id="polygoninput2" placeholder="Ex.:Rua Anchieta,Campinas" type="text"></input></p>
                  <li><p align="center"><span>3.</span><input id="polygoninput3" placeholder="Ex.:Rua Anchieta,Campinas" type="text"></input></p>
                </ol>
               </div>
               <p align="center"><span id="addpoint"> + Adicionar ponto</span></p>
               <p align="center"><input type="submit" value="Montar polígono com os endereços acima"/></p>
          </fieldset>
    		</form>
    		<form id="step2" class="steps" style="width:450px">
    		  <fieldset>
            <legend>2º Passo - Salvar cerca eletrônica</legend>
             <p>Após confirmar a visualização da cerca no mapa e sua área, digite um nome para a cerca e clique em salvar:</p>
              <p align="center"><b>Área da cerca eletrônica selecionada:</b></p><div align="center" id="polygonarea"></div>
              <p align="center"><input id="polygoname" placeholder="Digite um nome para a cerca" type="text" required value="{{g.name}}"></input><input id="polygonsave" type="button" value="Salvar" style="padding:4px 12px;"></p>
          </fieldset>
    		</form>
  		</div>
  		<div id="map2" style="float:left;width:100%;height:300px;"></div>
  	</div>
  	<div id="tabs-3">
  		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
  		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
  	</div>
</div>
{% endblock %}
