{% extends "templates/base.html" %}

{% block head %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/media/js/polygon(1.0).js"></script>


<script type="text/javascript">

$(document).ready(function(){
  $(".main-form").css("height","500px");
  
  $("#accordion").accordion({ 
      autoHeight: true
  });
  
  var geocoder;
	var map;
	var infowindow = new google.maps.InfoWindow();
	var marker;
	geocoder = new google.maps.Geocoder();
	
	var input = "-22.896359,-47.060092";
	var latlngStr = input.split(",",2); 
	var lat = parseFloat(latlngStr[0]);
	var lng = parseFloat(latlngStr[1]);
	var latlng = new google.maps.LatLng(lat, lng);
	var myOptions = {
		zoom: 4,
		center: latlng,
		mapTypeId: 'roadmap'
	}
  map = new google.maps.Map(document.getElementById("map"), myOptions);
  
  google.maps.event.addListener(map, "mousemove", function(pos){
     $("#lat").val(pos.latLng.lat().toFixed(10));
     $("#lng").val(pos.latLng.lng().toFixed(10));
   });
  
  creator = new PolygonCreator(map);
  
  var geofences = [];
  var circle = null;
  var geofencename = null;

  
  ///////////// Circle tools
  $("#circletool").click(function() {
    creator.destroy();
          
    if (isNaN(parseInt($("#radius").val()))) {
      alert('Digite um número válido para o raio');
    }

    else {
      
      //Only one geofence/time
      if (geofences.length > 0) {
        geofences[0].setMap(null);
        geofences.pop();
      }
      
      google.maps.event.addDomListenerOnce(map,"click",function(point){
      
        radius = parseInt($("#radius").val());

        circle = new google.maps.Circle({
          center : point.latLng,
          map : map,
          strokeColor : "#FFAA00",
          radius : radius
        });

        geofences.push(circle);

        $("#savecircle").removeAttr('disabled');
         
      });
      
      
      
      // $("#savecircle").click(function(){
      //         alert('ae');
      //       });
      
    }
  
  });
  
  //Circle is marked with address input
  $("#circlesubmit").submit(function(){
    creator.destroy();
      
    if (isNaN(parseInt($("#radius").val()))) {
      alert('Digite um número válido para o raio');
    }
    
    else {
      
      //Only one geofence/time
      if (geofences.length > 0) {
        geofences[0].setMap(null);
        geofences.pop();
      }
      
      address = $("#circlecenter").attr("value");
      radius = parseInt($("#radius").val());
      
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          position = results[0].geometry.location;
          
          circle = new google.maps.Circle({
            center : position,
            map : map,
            strokeColor : "#FFAA00",
            radius : radius
          });
          
          geofences.push(circle);
          
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
    
  });
  
  //The save POST
  $("#savecircle").click(function(){
    
    if (circle) {
      coords = {lat: circle.center.lat(), lng: circle.center.lng(), radius: circle.radius};
      // alert(coords.toSource());
      $('#id_geoentities').remove();
      
      $("#generaldialog").html("");
      $("#generaldialog").attr("title","Salvar cerca eletrônica");
      $("#generaldialog").append("<p><b>Digite um nome para a cerca:</b></p>")
      $("#generaldialog").append("<p><input id='geofencename' type='text'></input></p>");
      
      
      $("#generaldialog").dialog({
        modal:true,
        show:'clip',
        buttons: {
          "Salvar": function() {
            geofencename = $("#geofencename").val();
            
            if(geofencename){ 
              $.post(
                "/geofence/save/",
                {name:geofencename,type:'circle', coords: coords, system : window.location.pathname.split("/")[3]},
                function(data){
                  $('form').append("<input type='hidden' name='geoentities' id='id_geoentities' value='"+data+"' />");
                  $("#dialog").dialog("close");
                }
              );
              
              $( this ).dialog( "close" );
            }
            
            else {
              alert('Digite um nome para a cerca eletrônica.')
            }
          },
          Cancel: function() {
            $( this ).dialog( "close" );
          }
        }
      });
      
             
    }
    
    else {
      alert("Selecione um círculo primeiro.");
    }
    
  });
  
  
  ///////////// Polygon tool
  $("#polygontool").click(function(){
    creator.destroy();
    creator = new PolygonCreator(map);
    
     if (geofences.length > 0) {
        geofences[0].setMap(null);
        geofences.pop();
      }
        
  });
  
  // The save POST
  $("#savepolygon").click(function(){
    
    coords = {points: creator.showData()};
    
    $('#id_geoentities').remove();
      
    $("#generaldialog").html("");
    $("#generaldialog").attr("title","Salvar cerca eletrônica");
    $("#generaldialog").append("<p><b>Digite um nome para a cerca:</b></p>")
    $("#generaldialog").append("<p><input id='geofencename' type='text'></input></p>");
    
    $("#generaldialog").dialog({
      modal:true,
      show:'clip',
      buttons: {
        "Salvar": function() {
          geofencename = $("#geofencename").val();
          
          if(geofencename){ 
            $.post(
                "/geofence/save/",
                {name:geofencename,type:'polygon', coords: coords, system : window.location.pathname.split("/")[3]},
                function(data){
                    $('form').append("<input type='hidden' name='geoentities' id='id_geoentities' value='"+data+"' />");
                    $("#dialog").dialog("close");
                }
             );
            
            $( this ).dialog( "close" );
          }
          
          else {
            alert('Digite um nome para a cerca eletrônica.')
          }
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    
     
  })
  
  // Add inputs when desirable
  $("#addpoint").click(function(){
    var i = $("input[id^=polygoninput]").size() + 1;
     $('<input type="text" id="polygoninput'+i+'" />').appendTo('#polygoninputs');
     i++;
  });
  
  $("#polygonsubmit").submit(function(){

    creator.destroy();
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);

    if (geofences.length > 0) {
      geofences[0].setMap(null);
      geofences.pop();
    }
    
    var points = [];
    waypoints = [];
    var distance;

    var i = 0;
    $("input[id^=polygoninput]").each(function(){
      
      if ($(this).attr("value") == "")
        return false;
      
      i++;
      var address =  $(this).attr("value");

      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          // map.setCenter(results[0].geometry.location);
          position = results[0].geometry.location;
          points.push(position);
          var waypoint = {location:position};
          waypoints.push(waypoint);

        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    });
    
    var time = $("input[id^=polygoninput]").size();
    time = time*40;
    setTimeout(function(){
     
      bermudaTriangle = new google.maps.Polygon({
          paths: points,
          strokeColor: "#FF0000",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#FF0000",
          fillOpacity: 0.35
        });
        
        map.setCenter(points[0]);
        
        geofences.push(bermudaTriangle);

        bermudaTriangle.setMap(map);
      
    },time); 
    
  });
  
  ///////////// Route
  // Add inputs when desirable
  $("#adddestiny").click(function(){
    var i = $("input[id^=routeinput]").size() + 1;
     $('<input type="text" id="routeinput'+i+'" />').appendTo('#routeinputs');
     i++;
  });
  
  //Route is marked with address input
  $("#routesubmit").submit(function(){

    creator.destroy();
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);

    if (geofences.length > 0) {
      geofences[0].setMap(null);
      geofences.pop();
    }
    
    var points = [];
    waypoints = [];
    var distance;

    var i = 0;
    $("input[id^=routeinput]").each(function(){
      
      if ($(this).attr("value") == "")
        return false;
      
      i++;
      var address =  $(this).attr("value");
      points.push(address);
      var waypoint = {location:address};
      waypoints.push(waypoint);

         
    });

    var request = {
      origin:points[0], 
      destination:points[(points.length)-1],
      optimizeWaypoints:true,
      waypoints:waypoints,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
    };
    directionsService.route(request, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
        
        distance = 0;
        for (i=0;i<result.routes.length;i++){
          for (j=0;j<result.routes[i].legs.length;j++){ 
            distance += result.routes[i].legs[j].distance["value"];
          }
        }
        
        $("#routedistance").attr("value",distance);
        geofences.push(directionsDisplay);
        $("#saveroute").removeAttr('disabled');
      }

      else {
        alert('Rota inválida');
      }
    });





  });
  
  //Route tool
  $("#routetool").click(function(){

     creator.destroy();
     var directionDisplay;
     var directionsService = new google.maps.DirectionsService();
     directionsDisplay = new google.maps.DirectionsRenderer();
     directionsDisplay.setMap(map);
     
     if (geofences.length > 0) {
       geofences[0].setMap(null);
       geofences.pop();
     }

     var points = [];
     waypoints = [];
     
     google.maps.event.clearInstanceListeners(map);
     google.maps.event.addListener(map,"click",function(point){

       points.push(point);
              
       if (points.length >= 2) {
         
         var waypoint = {location:point.latLng};
         waypoints.push(waypoint);
          
         var request = {
           origin:points[0].latLng, 
           destination:points[(points.length)-1].latLng,
           optimizeWaypoints:true,
           waypoints:waypoints,
           travelMode: google.maps.DirectionsTravelMode.DRIVING
         };
         directionsService.route(request, function(result, status) {
           if (status == google.maps.DirectionsStatus.OK) {
             directionsDisplay.setDirections(result);

             var distance = 0;
             for (i=0;i<result.routes.length;i++){
               for (j=0;j<result.routes[i].legs.length;j++){ 
                 distance += result.routes[i].legs[j].distance["value"];
               }
             }

             $("#routedistance").attr("value",distance);
             geofences.push(directionsDisplay);
             $("#saveroute").removeAttr('disabled');
           }

           else {
             alert('Rota inválida');
           }
         });
       }
       
     });
  });
  
  
});
  
</script>
{% endblock %}

{% block content %}
<div  class="main-form">

  <div style="float:left;width:20%;height:100%;">
   <p>Posição do cursor:</p>
   <p><span style="text-align:right;">Latitude:</span><input id="lat" type="text" style="margin: 5px 0 5px 5px;width: 118px;position:relative;left:10px;"></input></p>
   <p>Longitude:<input id="lng" type="text" style="margin: 5px 0 5px 4px;width: 118px;"></input></p>
   <div id="accordion" style="height:100%;">
     <h3><a href="#">Círculo</a></h3>
       <div>
         <p>Digite um raio e em seguida selecione um centro:</p><br/>
         <input type="text" id="radius" style="width:93px;"></input> metros <br/><br/><hr/><br/>
         <p align="center"><span class="table-button" id="circletool" style="cursor:pointer;padding:5px;">Marcar centro</span></p><br><br/>
         <p align="left">Ou digitar endereço do centro:</p>
         <form id="circlesubmit" style="margin-top:5px;width:auto;" action="#map">
           <p><input id="circlecenter" type="text"></input></p></br/>
         </form>
         <input id="savecircle" type="submit" value="Salvar cerca eletrônica" style="float:right;"></input>
       </div>
     <h3><a href="#">Polígono</a></h3>
       <div>
         <p>Clique no botão abaixo para selecionar os vértices do polígono no mapa:</p><br/>
         <p align="center"><span class="table-button"  id="polygontool" style="cursor:pointer;padding:5px;">Traçar polígono</span></p><br><br/>
          <hr/><br/>
          <p>Ou digite os endereços para os pontos:</p><br/>
           <form id="polygonsubmit"  style="margin-top:5px;width:auto;" action="#map">
             <div id="polygoninputs">
               <input id="polygoninput1" type="text"></input>
               <input id="polygoninput2" type="text"></input>
               <input id="polygoninput3" type="text"></input>
             </div>
           <p><span id="addpoint">Adicionar ponto</span></p>
           <input type="submit">
           </form>
           <hr/><br/>
         <input id="savepolygon" type="submit" value="Salvar cerca eletrônica" style="float:right;"></input>      </div>
     <h3><a href="#">Rota</a></h3>
       <div>
         <p>Para selecionar a rota clique no botão abaixo e selecione os pontos desejados no mapa.</p><br/>
         <p align="center"><span class="table-button"  id="routetool"  style="cursor:pointer;padding:5px;">Selecionar rota</span></p><br/><br/>
         <p align="center"><span class="table-button"  id="routetool"  style="cursor:pointer;padding:5px;">Finalizar rota</span></p><br/><br/>
         <hr/><br/>
         <p>Ou digite os endereços para os pontos:</p><br/>
         <form id="routesubmit"  style="margin-top:5px;width:auto;" action="#map">
           <div id="routeinputs">
             <input id="routeinput1" type="text"></input>
             <input id="routeinput2" type="text"></input>
           </div>
         <p><span id="adddestiny">Adicionar destino</span></p>
         <input type="submit">
         </form>
        
         <br/><br/><hr/><br/>
         
         <p>Distância da rota:</p><br/>
         <input id="routedistance" type="text" style="width:84px;"></input>metros
         <input id="saveroute" type="submit" value="Salvar cerca eletrônica" style="float:right;"></input>
         
       </div>
    </div>
  </div>

   <div id="map" style="float:right;height:500px;width:79%;background-color:white;"></div>
   </div>
</div>
{% endblock %}